.center{
    display: block;
    margin: 0 auto 0.55em;
    text-align: center;
}

.theorem {
display: block;
font-style: italic;
padding-top: 1ex;
padding-left: 1em;
padding-right: 1em;
padding-bottom: 1ex;
border: 2px solid RoyalBlue;
border-radius: 10px;
margin-bottom: 2ex;
}
.theorem:before {
content: "Theorem. ";
font-weight: bold;
font-style: normal;
}
.theorem[text]:before {
content: "Theorem (" attr(text) ") ";
}

.example {
    display:block;
    padding-top: 1em; 
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 1em;
border: 2px solid BlueViolet;
border-radius: 10px;
margin-bottom: 2ex;
}

div.example::before{
    font-weight: bold;
    font-style: normal;
    font-size: larger;
    content: "Example";
}
div.example[text]::before{
    content: "Example ("attr(texT)")";
}

details[open] summary{
    margin-bottom: 1ex;
}

.example summary{
font-weight: bold;
font-style: normal;
font-size: larger;
}
.example summary::before{
    content: "Example";
}
.example summary:not(:empty)::before {
    content: "Example (";
}

.example summary:not(:empty)::after {
    content: ")\a";
}

.definition {
display: block;
font-style: italic;
padding-top: 1ex;
padding-left: 1em;
padding-right: 1em;
padding-bottom: 1ex;
border: 2px solid Teal;
border-radius: 10px;
margin-bottom: 1ex;
}
.definition:before {
content: "Definition. ";
font-weight: bold;
font-style: normal;
}
.definition[text]:before {
content: "Definition (" attr(text) ") ";
}

.definition div ul{
    margin-bottom:0.5ex;
}

.note {
    display:block;
    padding-top: 0.5em; 
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 0.5em;
    border: 1px solid Grey;
    border-left: 5px solid LightBlue;
    background-color: LightCyan;
/*border-radius: 10px;*/
margin-bottom: 2ex;
}
.note:before {
content: "\01f4dd  Note:";
font-weight: bold;
font-style: normal;
font-size: larger;
}

.warning {
    display:block;
    padding-top: 0.5em; 
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 0.5em;
    border: 1px solid Khaki;
    border-left: 5px solid Gold;
    background-color: LightYellow;
/*border-radius: 10px;*/
margin-bottom: 2ex;
}
.warning:before {
content: "\26a0\fe0f  Warning:";
font-weight: bold;
font-style: normal;
font-size: larger;
}
